[MASTER]
ignore=archive,.venv
ignore-paths=^unit-tests/.*,^archive/.*,.*__pycache__/.*

[MESSAGES CONTROL]
enable=
    C0114,
    C0115,
    C0116,
    C0304,
    E,
    F,
    W

disable=
    R0801,
    R0903,
    R0913,
    R0914,
    R0402,
    R0902,
    R0904,
    R0911,
    R0915,
    R0917,
    W0511

[FORMAT]
max-line-length=100

[BASIC]
good-names=i,j,k,ax,ay,az

[TYPECHECK]
extension-pkg-allow-list=numpy
ignored-modules=numpy,cv2,mediapipe,paho.mqtt.client,RPi.GPIO,smbus2

[DESIGN]
max-args=8
